.vs
**/.vshistory/
*.obj
*.tlog
moc_*.cpp
ui_*.h
*.pdb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.ilk
*.log
*.exp
*.dll
*.lib
*.qm
qrc_*.cpp
*.sln
*.suo
*.exe
*.res
*.manifest
src.opensdf
src.pro.user
*.sdf
*.pyc
paths.pri
*.rc
apps/solvers
apps/gridcreators
apps/gridexporter_plugins
apps/gridimporter_plugins
apps/Miniconda3
Makefile
Makefile.*
*.vcxproj.user
*.o
*.so
*.so.*
**/debug
**/release
doxygendoc/**/html
doxygendoc/**/rtf
doxygen_warnings.txt

# precompiled headers
libs/geodata/netcdf/netcdf_pch.h.cpp
libs/geodata/pointmap/pointmap_pch.h.cpp
libs/geodata/polygon/polygon_pch.h.cpp
libs/gui/gui_pch.h.cpp
libs/guibase/guibase_pch.h.cpp
libs/guicore/guicore_pch.h.cpp
libs/post/graph2dhybrid/graph2dhybrid_pch.h.cpp
libs/post/post2d/post2d_pch.h.cpp
libs/post/post3d/post3d_pch.h.cpp
libs/pre/pre_pch.h.cpp
plugins/gridexporter/structured2dgridnaysgridexporter/structured2dgridnaysgridexporter_pch.h.cpp
