*.obj
*.tlog
moc_*.cpp
ui_*.h
*.pdb
*.vcxproj
*.vcxproj.filters
*.ilk
*.log
*.exp
*.dll
*.lib
qrc_*.cpp
*.sln
*.suo
*.exe
*.res
*.manifest
src.opensdf
src.pro.user
*.sdf
*.pyc
paths.pri
*.rc
apps/solvers
apps/gridcreators
